<!DOCTYPE html>
<html>

<head>
    <title>{{config['school_name']}} Admin</title>
    <meta name="author" content="TEALS Virtual Community">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="robots" content="NOINDEX,NOFOLLOW">
    <meta name="description" property="og:description" content="TEALS Virtual Classroom">
    <meta name="keywords" content="teals, virtual, classroom, online, remote, teaching">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="google" content="notranslate" />

    <link href="css/semantic.min.css" rel="stylesheet" media="screen">
    <link href="css/owl.carousel.min.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        
        .main.container {
            margin-top: 7em;
        }
        
        .wireframe {
            margin-top: 2em;
        }
        
        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>


    <body>

        <div class="ui fixed large inverted pointing menu">
            <div class="ui container">
                <a href="/admin" class="header item">
                    <img class="logo" src="images/teals_logo.png"> {{config['school_name']}}
                </a>
                <a href="/admin" class="item">Home</a>
                <a href="/allpolls" class="item">All Polls</a>
                <a href="/changeclassroom" class="item">Change Classroom</a>
                <a href="/changeslide" class="item">Change Slide</a>
                <!--
                <div class="ui simple dropdown item">
                    Dropdown <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>
                        <div class="item">
                            <i class="dropdown icon"></i> Sub Menu
                            <div class="menu">
                                <a class="item" href="#">Link Item</a>
                                <a class="item" href="#">Link Item</a>
                            </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                -->
                <div class="right item">
                    <a href="/newpoll" class="ui inverted button green">New Post</a>
                </div>
            </div>
        </div>

<!--
        <div class="ui sidebar">


            <div class="ui feed">
                <div class="event">
                    <div class="label">
                        <img src="/images/avatar/small/elliot.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a class="user">
          Elliot Fu
        </a> added you as a friend
                            <div class="date">
                                1 Hour Ago
                            </div>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 4 Likes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="/images/avatar/small/helen.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a>Helen Troy</a> added <a>2 new illustrations</a>
                            <div class="date">
                                4 days ago
                            </div>
                        </div>
                        <div class="extra images">
                            <a><img src="/images/wireframe/image.png"></a>
                            <a><img src="/images/wireframe/image.png"></a>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 1 Like
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a class="user">
          Jenny Hess
        </a> added you as a friend
                            <div class="date">
                                2 Days Ago
                            </div>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 8 Likes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="/images/avatar/small/joe.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a>Joe Henderson</a> posted on his page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even
                            if we don't run extra laps that day, we surely will come back for more of the same another day
                            soon.
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 5 Likes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="/images/avatar/small/justen.jpg">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a>Justen Kitsune</a> added <a>2 new photos</a> of you
                            <div class="date">
                                4 days ago
                            </div>
                        </div>
                        <div class="extra images">
                            <a><img src="/images/wireframe/image.png"></a>
                            <a><img src="/images/wireframe/image.png"></a>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 41 Likes
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

-->

        <div class="pusher">
            <div class="ui main container">

                {% block body %}{% endblock %}

            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui inverted section divider"></div>
                <img src="images/teals_logo.png" class="ui centered mini image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPTS -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="js/semantic.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.5/moment-timezone-with-data-2010-2020.min.js"></script>
        <script type="text/javascript">
            var config = {{jsconfig|safe}}
        </script>
        <script type="text/javascript" src="js/common.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>

    </body>

</html>