<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <!--
      Notice the use of %PUBLIC_URL% in the tag above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.
      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  <title>Remote Classroom</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" rel="stylesheet" media="screen">
  <link href="./public/css/main.css" rel="stylesheet" media="screen" />

  <script>
    var config = {{jsconfig|safe }};
    var session = {{jssession|safe }};
  </script>
  <script src="https://simplewebrtc.com/latest-v2.js"></script>
</head>

<body>
  <div id="root"></div>

  <!-- Dependencies -->
  <script src="./public/react/react.min.js"></script>
  <script src="./public/react/react-dom.min.js"></script>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  <!-- Main -->
  <script src="./dist/admin_bundle.js"></script>
</body>

</html>