<!DOCTYPE html>
<html>

<head>
    <title>{{config['school_name']}}</title>
    <meta name="author" content="TEALS Virtual Community">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="robots" content="NOINDEX,NOFOLLOW">
    <meta name="description" property="og:description" content="TEALS Virtual Classroom">
    <meta name="keywords" content="teals, virtual, classroom, online, remote, teaching">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="google" content="notranslate" />

    <link href="css/semantic.min.css" rel="stylesheet" media="screen">
    <link href="css/owl.carousel.min.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">

    <body>

        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui vertical masthead center aligned segment">

                <div class="ui container">
                    <h2 class="ui center aligned icon header">
                        <i class="circular users teal icon"></i> Welcome to {{config['school_name']}} {{config['course_name']}}
                    </h2>
                    <a href="{{host}}/starter" target="_blank" class="ui item humongous button to-starter" style="margin-top:45px;">Let's Get Started <i class="right arrow icon"></i></a>
                </div>
            </div>

            <!-- JAVASCRIPTS -->
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
            <script type="text/javascript">

    </body>

</html>