<!DOCTYPE html>
<html>

<head>
    <title>{{config['school_name']}}</title>
    <meta name="author" content="TEALS Virtual Community">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="robots" content="NOINDEX,NOFOLLOW">
    <meta name="description" property="og:description" content="TEALS Virtual Classroom">
    <meta name="keywords" content="teals, virtual, classroom, online, remote, teaching">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="google" content="notranslate" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css" rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.theme.green.css" rel="stylesheet" media="screen">
    <link href="css/semantic.superhero.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">

    <body>
        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui labeled inverted menu">
                <div class="item link">
                    <img class="ui avatar image" src="{{session['user_image']}}">
                    <span>{{session['full_name']}}</span>
                    <span>{{session['user_id']}}</span>
                </div>
                <div class="test">
                    {{test}}
                </div>
                <div class="menu right">
                    <div class="item">
                        <div class="ui green button get-started">Start Session<i class="right arrow icon"></i></div>
                    </div>
                    {% if (config['features']['quiz']['enable'] == true) %}
                    <div class="item">
                        <div class="ui green button quiz-button">
                            <i class="list layout icon"></i>Begin Quiz
                        </div>
                    </div>
                    {% endif %} {% if (config['features']['help']['enable'] == true) %}
                    <div class="item">
                        <div class="ui blue button help-button"><i class="info circle icon"></i>I need help</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <iframe id="content-iframe" src="http://snap.berkeley.edu/snapsource/snap.html"></iframe>
        </div>

        <!-- Modals -->
        <!-- User Selector -->
        <div class="ui modal student fullscreen">
            <i class="close icon"></i>

            <div class="header">
                Select your name from the list to get started
            </div>
            <div class="content">
                {% if (config['studentView'] == 'list') %}
                <div class="ui middle aligned divided animated list owl-list students">
                    {% for student in students %}
                    <div id="{{student.studentId}}" index="{{student.index}}" skype="{{student.skypeMeeting}}" image="{{student.image}}" class="ui item link">
                        <!--<div class="right floated content">
                            <div class="ui button">Add</div>
                        </div>-->
                        <img class="ui avatar image" src="{{student.image}}">
                        <div class="content">
                            {{student.name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="ui link cards owl-carousel owl-theme students">
                    {% for student in students %}
                    <div id="{{student.studentId}}" index="{{student.index}}" skype="{{student.skypeMeeting}}" image="{{student.image}}" class="ui card">
                        <div class="image">
                            <img src="{{student.image}}">
                        </div>
                        <div class="content">
                            <span class="header">{{student.name}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button">
                    Yep, that's me
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>

        <!-- Join Meeting Selector -->
        <div class="ui modal meeting fullscreen">
            <i class="close icon"></i>
            <div class="header">
                Join Group meeting
            </div>
            <div class="content">
                {% if (config['meetingView'] == 'list') %}
                <div class="ui middle aligned divided animated list owl-list meetings">
                    {% for meeting in meetings %}
                    <a href="{{meeting.skypeMeeting}}?sl=" target="_blank">
                        <div id="{{meeting.studentId}}" index="{{meeting.index}}" skype="{{meeting.skypeMeeting}}" class="ui item link">
                            <!--<div class="right floated content">
                                        <div class="ui button">Add</div>
                                    </div>-->
                            <img class="ui avatar image" src="{{meeting.image}}">
                            <div class="content">
                                {{meeting.name}}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <div class="ui item">
                    <div class="ui link cards owl-carousel owl-theme meetings">
                        {% for meeting in meetings %}
                        <a href="{{meeting.skypeMeeting}}?sl=" target="_blank">
                            <div id="{{meeting.meetingId}}" index="{{meeting.index}}" skype="{{meeting.skypeMeeting}}" class="ui card">
                                <div class="image">
                                    <img src="{{meeting.image}}">
                                </div>
                                <div class="content">
                                    <span class="header">{{meeting.name}}</span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!--

            {% if (config['features']['raffleTickets']['enable'] == true) %}
            <div class="card blue raffle-ticket-card" style="display:none;">
                <div class="content">
                    <div class="description">
                        <div class="ui teal statistic">
                            <div class="value">
                                <i class="ticket icon"></i>
                                <span class="total-raffle-tickets"></span>
                            </div>
                            <div class="label text-blue">
                                Total Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card blue raffle-ticket-card" style="display:none;">
                <div class="content">
                    <div class="description">
                        <div class="ui teal statistic">
                            <div class="value">
                                <i class="ticket icon"></i>
                                <span class="weekly-raffle-tickets"></span>
                            </div>
                            <div class="label text-blue">
                                Tickets This Week
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        -->

        <div class="ui modal survey small">
            <div class="header"><span class="notification-header"></span></div>
            <div class="content">
                <span class="notification-body"></span>
            </div>
            <div class="actions">
                <div class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <textarea id="survey-response-body" name="body"></textarea>
                            </div>
                        </div>
                        <div id="submit-response" class="ui fluid large teal submit button">Submit Response</div>
                    </div>
                    <div class="ui error message"></div>
                </div>
            </div>
        </div>

        <div class="ui modal linkmodal small">
            <div class="header"><span class="link-header"></span></div>
            <div class="content">
                <a class="link-url" target="_blank"></a>
            </div>
            <div class="actions">
                <div class="ui approve button green">Go to Link</div>
                <div class="ui cancel button">Dismiss</div>
            </div>
        </div>

        {% if (config['features']['quiz']['enable'] == true) %}
        <div class="ui modal quizmodal small">
            <div class="header">Quiz</div>
            <div class="content">
                {{''.join(config['features']['quiz']['instructions']) | safe}}
            </div>
            <div class="actions">
                <a class="ui approve button green" href="{{config['features']['quiz']['link']}}" target="_blank">Go to Link</a>
                <div class="ui cancel button">Dismiss</div>
            </div>
        </div>
        {% endif %}


        <div class="ui modal poll small basic">
            <div class="header">
                <div class="ui one column stackable center aligned page grid">
                    <div class="column twelve wide">
                        <span class="notification-header"></span></div>
                </div>
            </div>
            <div class="content">
                <div class="ui one column stackable center aligned page grid">
                    <div class="column twelve wide">
                        <span class="notification-body"></span>
                    </div>
                    <div class="column twelve wide">

                        <button id="thumbsdown" class="ui icon button humongous negative">
                                <i class="thumbs down icon"></i>
                            </button>
                        <button id="thumbsup" class="ui icon button humongous positive">
                                <i class="thumbs up icon"></i>
                            </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPTS -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js"></script>
        <script type="text/javascript">
            var config = {{jsconfig|safe }}
        </script>
        <script type="text/javascript" src="js/common.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </body>

</html>